{{% extends 'base.html' %}
{% block title %}Payment Success{% endblock %}
{% block content %}
{% load course_tags %}
{%load static %}
<!-- SHOP ORDER COMPLETED
    ================================================== -->
    <section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
          <div class="card-body p-5">

            <p class="lead fw-bold mb-5" style="color: #f37a27;">Order Reciept</p>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date</p>
                <p>{{payment.date}}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Order No.</p>
                <p>{{payment.order_id}}</p>
              </div>
            </div>

            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p>{{payment.course.title}}</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p>₹{{payment.course.price}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p class="mb-0">Discount</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p class="mb-0">₹{{payment.course.discount}}</p>
                </div>
              </div>
            </div>

            <div class="mx-n5 px-5 py-4">
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p class="mb-0">Total</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p class="mb-0">₹{% discount_calculation payment.course.price payment.course.discount %}</p>
                </div>
              </div>
            </div>

            <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Order are successfully Enrolled.</p>

            <div class="row">
              <div class="col-lg-12">

                <div class="horizontal-timeline">
                    <li class="list-inline-item items-list text-end" style="margin-right: 8px;">
                      <p style="margin-right: -8px;">Thank you for ordering the {{payment.course.title}}! </p>

                    </li>
                  </ul>

                </div>

              </div>
            </div>

            <p class="mt-4 pt-2 mb-0">Want any help? <a href="#!" style="color: #f37a27;">Please contact
                us</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}